/* Block Loader Styles */
.block-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.block-loader {
  position: relative;
  width: 6em;
  height: 6em;
}

.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 1.8em;
  height: 1.8em;
  background: #fdfdfd;
  -webkit-animation: show 0.88s step-end infinite alternate,
    pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate,
    pulse 0.88s linear infinite alternate;
}

/* Position each block */
.loader-block:nth-child(1) {
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}

.loader-block:nth-child(2) {
  transform: translate(2.1em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(3) {
  transform: translate(4.2em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}

.loader-block:nth-child(4) {
  transform: translate(0, 2.1em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}

.loader-block:nth-child(5) {
  transform: translate(2.1em, 2.1em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}

.loader-block:nth-child(6) {
  transform: translate(4.2em, 2.1em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}

.loader-block:nth-child(7) {
  transform: translate(0, 4.2em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

.loader-block:nth-child(8) {
  transform: translate(2.1em, 4.2em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}

.loader-block:nth-child(9) {
  transform: translate(4.2em, 4.2em);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

/* Animations */
@-webkit-keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}

@-webkit-keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}

@keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}
